[submodule "DoneWithIt"]
	path = DoneWithIt
	url = https://github.com/Mchiir/DoneWithIt.git
[submodule "Ecommerce-app-react-native"]
	path = Ecommerce-app-react-native
	url = https://github.com/Mchiir/ecommerce-reactNative.git
[submodule "MyFitness-Tracker"]
	path = MyFitness-Tracker
	url = https://github.com/Mchiir/MyFitness-Tracker.git
[submodule "MyFirstExpoApp2"]
	path = MyFirstExpoApp2
	url = https://github.com/Mchiir/MyFirstExpoApp.git
[submodule "SocialMedia"]
	path = SocialMedia
	url = https://github.com/Mchiir/puppystories-reactnative
